//
// COMMANDS RUN DURING STARTUP
//

// load the base configuration
exec default.cfg
exec bindings.cfg

// command aliases
alias exit quit

// load the last saved configuration
exec config.cfg

// run a user script file (if present)
exec autoexec.cfg

// load fonts
loadfont default fonts/bigchars
loadfont console fonts/bigchars
/// loadfont default fonts/DejaVuSerif.ttf     12 16 20 24 32
/// loadfont console fonts/DejaVuSansMono.ttf  12 16 20 24 32

// process command line statements
stuffcmds

